<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Euler</title>

    {% include 'includes/favicon.njk' %}

    {% include 'includes/meta.njk' %}

    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    {% include 'includes/nav.njk' %}

    {% block main %} {% endblock %}  
  </body>
</html>